[access]
	inheritFrom = All-Projects
[access "refs/heads/*"]
	create = group Leeco x2 Maintainers
	push = +force group Leeco x2 Maintainers
	pushMerge = group Leeco x2 Maintainers
	label-Code-Review = -2..+2 group Leeco x2 Maintainers
	label-Verified = -1..+1 group Leeco x2 Maintainers
	submit = group Leeco x2 Maintainers
